body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #121212;
    color: #FFFFFF;
}

h1, h2, p {
    margin: 0;
    padding: 20px 0;
    text-align: center;
    color: #1DB954;
    font-size: 10vh;
}

h1 {
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}

.song-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 40px 20px;
    margin-top: 20px;
}

.song-card {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #282828;
    border-radius: 30px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3);
    overflow: hidden;
    width: 90%;
    max-width: 600px;
    transition: transform 0.3s, box-shadow 0.3s;
    padding: 15px;
}

.song-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 30px rgba(0, 0, 0, 0.5);
}

.song-image img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 15px;
}

.song-info {
    padding: 0 15px;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.song-info h2 {
    font-size: 1.4em;
    margin-bottom: 5px;
    color: #1DB954;
}

.song-info p {
    color: #B3B3B3;
    margin: 0;
    font-size: 0.9em;
}

.song-options {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    background-color: #333333;
}

button {
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s;
    margin: 5px 0;
    font-weight: bold;
    width: 100%;
}

.edit-btn {
    background: linear-gradient(45deg, #1DB954, #1ED760);
    color: white;
}

.edit-btn:hover {
    background: linear-gradient(45deg, #17a64a, #1DB954);
    transform: translateY(-2px);
}

.delete-btn {
    background: linear-gradient(45deg, #ff5252, #ff1744);
    color: white;
}

.delete-btn:hover {
    background: linear-gradient(45deg, #d50000, #f44336);
    transform: translateY(-2px);
}

audio {
    width: 100%;
    margin: 10px 0;
}

.add-song-button {
    margin: 20px auto;
    padding: 12px 24px;
    background: linear-gradient(45deg, #1DB954, #1ED760);
    color: white;
    text-align: center;
    border-radius: 8px;
    text-decoration: none;
    font-weight: bold;
    transition: background-color 0.3s ease, transform 0.2s;
}

.add-song-button:hover {
    background: linear-gradient(45deg, #17a64a, #1DB954);
    transform: translateY(-2px);
}

@media (max-width: 768px) {
    .song-card {
        flex-direction: column;
        width: 95%;
        padding: 10px;
    }

    .song-image img {
        width: 100%;
        height: auto;
    }

    h1, h2 {
        font-size: 8vh;
    }

    .song-options {
        width: 100%;
    }
}
